<div id="<%= dom_id seller %>">
  <p>
    <strong>Name:</strong>
    <%= seller.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= seller.image %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= seller.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= seller.user_id %>
  </p>

</div>
