<div id="<%= dom_id delivery %>">
  <p>
    <strong>Time:</strong>
    <%= delivery.time %>
  </p>

  <p>
    <strong>Isfinished:</strong>
    <%= delivery.isFinished %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= delivery.order_id %>
  </p>

  <p>
    <strong>Rider:</strong>
    <%= delivery.rider_id %>
  </p>

</div>
