<div id="<%= dom_id order %>">
  <p>
    <strong>Time:</strong>
    <%= order.time %>
  </p>

  <p>
    <strong>Money:</strong>
    <%= order.money %>
  </p>

  <p>
    <strong>Isprocessed:</strong>
    <%= order.isProcessed %>
  </p>

  <p>
    <strong>Isdelivered:</strong>
    <%= order.isDelivered %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= order.seller_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= order.buyer_id %>
  </p>

</div>
