<div style="height:20px"> </div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <%= link_to items_path, method: :get do %>
      <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">商品列表</button>
    <% end %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to new_item_path, method: :get do %>
      <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">添加商品</button>
    <% end %>
  </li>
</ul>
<div style="height:30px"> </div>

<% @this_seller = Seller.find_by(user_id: current_user.id)%>
<% @shop_items = Item.where(seller_id: @this_seller.id) %>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              商品序号
            </div>
            <div class="col-sm">
              商品名称
            </div>
            <div class="col-sm">
              Logo
            </div>
            <div class="col-sm">
              商品价格
            </div>
            <div class="col-sm">
              商品销量
            </div>
            <div class="col-sm">
              是否删除
            </div>
          </div>
        </div>
      </li>
      <% count = 0 %>
      <% @shop_items.each do |shop_item| %>
        <% count = count + 1 %>
        <li class="list-group-item">
          <div class="container">
            <div class="row">
              <div class="col-sm justify-content-center">
                序号<%= count %>
              </div>
              <div class="col-sm justify-content-center">
                <%= shop_item.name %>
              </div>
              <div class="col-sm">
                <img src="<%= (url_for(shop_item.image)) %>" class="card-img-top" style="width:50px" alt="..." />
              </div>
              <div class="col-sm">
                <%= shop_item.price %>元/杯
              </div>
              <div class="col-sm">
                <%= shop_item.sales %>杯/月
              </div>
              <div class="col-sm">
                <%= link_to @shop_item, method: :delete, data: {confirm: "你确定吗？"} do%>
                  <button type="button" class="btn btn-primary" style="width: 4rem; height: 2rem">
                      删除
                  </button>
                <% end %> 
              </div>
            </div>
          </div>
        </li>
      <% end %>
      
    </ul>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
</div>

<script type="text/javascript">
var enableTable=function() {
$('#myTab button').on('click', function (event) {
  event.preventDefault()
  $(this).tab('show')
})
};
enableTable();
</script>