<div id="<%= dom_id order_item %>">
  <p>
    <strong>Count:</strong>
    <%= order_item.count %>
  </p>

  <p>
    <strong>Money:</strong>
    <%= order_item.money %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= order_item.item_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_item.order_id %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= order_item.cart_id %>
  </p>

</div>
