<div id="<%= dom_id rider %>">
  <p>
    <strong>Name:</strong>
    <%= rider.name %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= rider.telephone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= rider.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rider.user_id %>
  </p>

</div>
