<div id="<%= dom_id buyer %>">
  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= buyer.telephone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= buyer.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= buyer.user_id %>
  </p>

</div>
