<p style="color: green"><%= notice %></p>

<h1><span class="badge badge-secondary">推荐商铺</span></h1>

<div style="height:20px"> </div>

<% @shops = User.where(role: 1) %>

<div class="row">
  <% @shops.each do |shop| %>
    <% @tmp_seller = Seller.find_by(user_id: shop.id)%>
    <div class="col-sm-4 mx=5">
      <div style="height:10px"> </div>
      <div class="card" style="width: 24rem;">
        <div class="row">
          <div class="col-sm-4">
            <% if @tmp_seller.image.attached? %>
              <img src="<%= (url_for(@tmp_seller.image)) %>" class="card-img-top" alt="...">
            <% end %>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-7">
            <div style="height:10px"> </div>
            <% this_seller=Seller.find_by(user_id: shop.id) %>
            <%= link_to this_seller, method: :get do %>
              <div class="card-body">
                <h4 class="card-title"><%= shop.username %></h4>
              </div>
            <% end %>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <% this_seller=Seller.find_by(user_id: shop.id) %>
          <li class="list-group-item">店铺地址: <%= this_seller.address %></li>
          <li class="list-group-item">
            <h5>
              推荐商品
            </h5>

            <% @items = Item.where(seller_id: shop.id)%>
            <% @ranked_items = (@items.sort_by &:sales).reverse.first(3) %>

            <div style="height:10px"> </div>

            <div class="row">
              <% @ranked_items.each do |ranked_item| %>
                <div class="col-sm-4">
                  <div>
                    
                  </div>
                  <div><%= ranked_item.name %></div>
                </div>
              <% end %>           
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  
</div>